<%-layout("layouts/boilerplate.ejs")%>
    <div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h1>Update</h1>
    <form method="post" action="/listing/<%=list._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
       <div class="mb-3 mt-3">
         <label for="title" class="form-label">Title</label>
         <input  name="listing[title]" value="<%=list.title%>" type="text" class="form-control" required>
       </div>
        <div class="mb-3">
         <label for="description" class="form-label">Description</label>
        <textarea placeholder="description" name="listing[description]" value="<%=list.description%>" type=text class="form-control" ></textarea>
        </div>
        <div class="mb-3">
          Original Listing Image<br>
          <img src="<%=originalImageUrl%>">
        </div>

        <div class="mb-3">
        <label for="image" class="form-label">Upload new Image</label>
        <input name="listing[image]" type="file" class="form-control" required>
        </div>
        <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value="<%=list.price%>" type="number" class="form-control" required>
        </div>
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%=list.location%>" type="text" class="form-control" required>
        </div>
        <div>
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" value="<%=list.country%>" type="text" class="form-control" required>
        </div>
        <button class="btn btn-dark edit-btn mt-3 mb-2">Submit</button>
    </form>
    </div>
    </div>

    


